* {
    padding: 0px;
    margin: 0px;
}

/* Temporary colors for spacing planning purposes */
/* #playing-area { background-color: gray; }
#factory-displays { background-color: lightcoral; }
#factory-center { background-color: blueviolet; }
#scorecards { background-color: lightsalmon; }
header { background-color: lightblue; }
main { background-color: whitesmoke; }
footer { background-color: lightgreen; }
.patternlines { background-color: gray; }
.wall { background-color: brown; } */

#instructions {
    background-color: lightgray;
    height: 2rem;
    align-content: center;
    text-align: center;
}
#factory-displays, #factory-center, #scorecards {
    padding: 2rem;
}
.tile {
    font-size: 0rem;
    border: 1px solid gray;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    background-size: cover;
    text-align: center;
    align-content: center;
}
.tile-style-0 {
    background-color: rgb(26, 102, 202);
    background-image: url("../../img/blue.png");
}
.tile-style-1 {
    background-color: rgb(252, 227, 8);
    background-image: url("../../img/yellow.png");
}
.tile-style-2 {
    background-color: rgb(194, 22, 22);
    background-image: url("../../img/red.png");
}
.tile-style-3 {
    background-color: black;
    background-image: url("../../img/black.png");
}
.tile-style-4 {
    background-color: rgb(84, 221, 231);
    background-image: url("../../img/cyan.png");
}
.tile-style-99 {
    background-color: white;
    color: blue;
    font-weight: bolder;
    background-image: url("../../img/one.png");
}
.tile-style-empty {
    font-size: 1rem;
    background-color: khaki;
    background-image: url("../../img/empty.png");
    opacity: 0.80;
}
.tile-style-faded {
    opacity: 0.15;
}
.tile-selected {
    opacity: 0.25;
}
.tile-style-scoring {
    font-size: 1rem;
    background-color: greenyellow;
    background-image: url("../../img/scoring.png");
}
#factory-displays {
    display: flex;
    justify-content: space-around;
}
.factory-display {
    background-image: url("../../img/factory-display.png");
    background-size: cover;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
#factory-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#scorecards {
    display: flex;
    justify-content: space-around;
}
.scorecard {
    padding: 1rem;
    background-color: royalblue;
    background-image: url("../../img/scorecard.png");
    background-size: cover;
    display: inline-block;
}
.scorecard-header {
    padding: 0.5rem;
    background-color: powderblue;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
}
.scorepip-row {
    display: flex;
    border: 1px solid gray;
}
.scorepip-row+.scorepip-row {
    border-top: none;
}
.scorepip {
    min-height: 1rem;
    flex: 1 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    align-content: center;
    text-align: center;
}
.scorepip+.scorepip {
    border-left: 1px solid gray;
}
.scorepip-inactive {
    background-color: white;
}
.scorepip-multiple-of-5 {
    background-color: burlywood;
}
.scorepip-active {
    background-color: black; 
}
.scorecard-main {
    display: flex;
    gap: 2rem;
    background-color: beige;
    padding: 1rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.scorecard-main .patternlines, .scorecard-main .wall {
    flex: 1 1;
}
.patternlines, .patternlines-row, .wall, .wall-row {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}
.patternlines, .wall {
    flex-direction: column;
}
.patternlines-row {
    justify-content: right;
}
.scorecard-footer {
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
}
.floorline {
    background-color: beige;
    padding: 1rem;
    display: flex;
    gap: 0.25rem;
}